{% extends 'base.html' %}
{% block body %}
<div class="custom-hero-section d-flex justify-content-center align-items-center">
  <div class="hero-content text-white" style="text-align: left;width: 95%; margin-bottom: 2%;">
    <h1 class="mb-2" style="font-size: 3.0rem;">Stay organized. Stay consistent.</h1>
    <h6 class="mb-2">Progress is not about speed, it’s about consistency and showing up daily.</h6>
    <h6 class="mb-2">Every small task you complete today makes you to stay organised.</h6>
    <h6 class="mb-2">Consistency beats speed — show up daily.</h6>
    <a href="/login" type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false"
      style="margin-top: 3%;border-radius: 0.7rem;">Log in ➜ </a>
  </div>
</div>
<div class="card text-center ">
  <div class="card-header" style="background-color:rgba(0, 0, 0, 0.6);height: 60px;">
    <h6 class="card-title" style="color: white;margin-top: 9px;">Made with ❤️ by Pooja</h6>
  </div>
</div>
{% endblock %}