{% extends 'base.html' %}
{% block body %}
<div class="contain" style="background-color: black;margin: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 350px;
    padding-right: 350px;">
    <div class="container">
        <div class="box"
            style="background-color: dimgrey;border-radius: 25px;height: 60px;width: 450px;margin-left: 140px;margin-bottom: 30px;">
            <h2 style="color: white;margin-left: 13px;padding-top: 8px;">Welcome back to MyTodo....!!</h2>
        </div>
    </div>
    <div class="container my-3">
        <form action="/update/{{todo.SrNo}}" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="nm" placeholder="Add Todo list name" aria-label="Username"
                    value="{{todo.nm}}" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <label for="title" name="task" value="{{todo.task}}" class="form-label"
                    style="color: white;font-size: 18px;">Add Task</label>
                <input type="text" class="form-control" value="{{todo.task}}" name="task" id="title"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" name="status" value="{{todo.status}}"
                    style="color: white;font-size: 18px;">Add status</label>
                <div class="input-group mb-3">
                    <select class="custom-select" name="status" required>
                        <option value="">Choose status...</option>
                        <option value="In progress" {% if todo.priority=="In progress" %}selected{% endif %}>In progress</option>
                        <option value="Not started" {% if todo.priority=="Not started" %}selected{% endif %}>Not started</option>
                        <option value="Done" {% if todo.priority=="Done" %}selected{% endif %}>Done</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="meeting-time" name="date" value="{{todo.date}}" style="color: white;font-size: 18px;">Add
                    due date and time</label>
                <!-- <input type="datetime-local" id="meeting-time" name="meeting-time" /> -->
                <input type="datetime-local" class="form-control" name="date">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" name="priority" value="{{todo.priority}}"
                    style="color: white;font-size: 18px;">Priority</label>
                <div class="input-group mb-3">
                    <select class="custom-select" name="priority" required>
                        <option value="">Choose Priority...</option>
                        <option value="High" {% if todo.priority=="High" %}selected{% endif %}>High</option>
                        <option value="Medium" {% if todo.priority=="Medium" %}selected{% endif %}>Medium</option>
                        <option value="Low" {% if todo.priority=="Low" %}selected{% endif %}>Low</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-lg" style="margin-top: 15px;">Submit</button>
            <!-- <a href="/table" type="submit" class="btn btn-dark btn-lg" style="margin-top: 15px;margin-left: 10px;">View
                tasks</a> -->
        </form>
    </div>
</div>

{% endblock %}